body {
  /*background: rgba(255, 255, 255, 1);*/
  background-image: url("../img/background.png");
}

.logo {
  text-align: center;
}

.bandeau {
  text-align: center;
}

.text {
  color:white;
  font-family:Droid Sans;
  font-size:18;
}
